@import './index.scss';

$backgroundColor: #343a40;
$whiteBackgroundColor: #ffffff;
$whiteText: #ffffff;
$darkText: #292E33;

h1, h2, h3, h4, h5, h6, p {
  color: $darkText;
}

.App {
  text-align: center;
}

.nav-item i {
  color: $whiteText;
  padding-left: 2rem;

  @include respond-below(sm) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
  }
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: $darkText;
}

.home,
.blog {
  background-color: $whiteBackgroundColor;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.not-found {
  top: 0;
  left: 0;
  bottom: 0;
}

.profile-image {
  height: 20vh;
  width: auto;
  border-radius: 10px;
}

.project-logo {
  height: 15vh;
  width: auto;
  border-radius: 10px;
}

.blog-header-image {
  height: 20vh;
  width: auto;
  border-radius: 10px;
}

.twitter {
  color: #00aced;
}