@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&family=Source+Code+Pro:wght@500&display=swap');

body {
  margin: 0;
  font-family:'Roboto Mono', monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8F8;
}

code {
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6, p {
  color: #545454;
}
